a:link {
    color: #0066CC;
    text-decoration: none;
}

a:hover {
    color: #0015B6;
    text-decoration: none;
}

a:active {
    color: #CC0000;
    text-decoration: none;
}

a:visited {
    color: #0066CC;
    text-decoration: none;
}

INPUT, TEXTAREA, SELECT {
    border-top-left-radius: 5px /*{cornerRadius}*/;
    border-bottom-left-radius: 5px /*{cornerRadius}*/;
    border-top-right-radius: 5px /*{cornerRadius}*/;
    border-bottom-right-radius: 5px /*{cornerRadius}*/;
}

SELECT {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background-color: #FFFFFF;
}

body {
    scrollbar-3dlight-color: #B3C76D;
    scrollbar-arrow-color: #999999;
    scrollbar-track-color: #ededed;
    scrollbar-darkshadow-color: #B3C76D;
    scrollbar-face-color: #DCE2C9;
    scrollbar-highlight-color: #DCE2C9;
    scrollbar-shadow-color: #DCE2C9;
    background-color: #CACACA;
}

font {
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 11px;
}

/* select {font-family:verdana,Arial,tahoma,san-serif;font-size:11px;color:#000000;background-color:#F4F4F4;border-color:#003399;border-style:solid;border-width:1px;} */

TABLE {
    font-family: verdana, Arial, tahoma, sans-serif;
    font-size: 11px;
    border: 0px;
}

.borderbottom {
    border-bottom: 2px;
    border-bottom-color: #000;
}

.errMsg {
    font-family: Verdana, Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #AA2222;
    background: #FFFFFF;
    text-align: center;
}

.fontbesar {
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.inptype {
    font-family: verdana, Arial, tahoma, san-serif;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    border-left: 1px solid #C1C1C1;
    border-top: 1px solid #C1C1C1;
}

.inptypehijau {
    font-family: verdana, Arial, tahoma, san-serif;
    font-size: 11px;
    color: #000000;
    background-color: #D9E3B6;
    border-bottom: 1px solid #B6C973;
    border-right: 1px solid #B6C973;
    border-left: 1px solid #B6C973;
    border-top: 1px solid #B6C973;
    height: 20px;
}

.pbttn {
    font-family: verdana, Arial, tahoma, sans-serif;
    font-size: 10px;
    background: #9FB359;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #D9E3B6;
    border-top: 1px solid #D9E3B6;
    color: #FFFFFF;
    height: 22px;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    cursor: hand;
}

.tablegrid {
    border: 0px;
    background-color: #E7E3E7;
}

.tab {
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #7A8F32;
}

.tdjudultosca {
    background-color: #DDFFFF;
    font-weight: bold;
    font-size: 10px;
}

.tdtopitosca {
    background-color: #93DFE6;
    font-weight: bold;
}

.tdtopitoscakiri {
    background-image: url(../images/ToscaKiri.gif);
}

.tdtopitoscakanan {
    background-image: url(../images/ToscaKanan.gif);
}

.tdjudulungu {
    background-color: #F0F0FF;
    font-weight: bold;
    font-size: 10px;
}

.tdtopiungu {
    background-color: #D7D7FF;
    font-weight: bold;
}

.tdtopiungukiri {
    background-image: url(../images/UnguKiri.gif);
}

.tdtopiungukanan {
    background-image: url(../images/UnguKanan.gif);
}

.tdjudulorange {
    background-color: #FEE8E0;
    font-weight: bold;
    font-size: 10px;
}

.tdtopiorange {
    background-color: #FDD8CA;
    font-weight: bold;
}

.tdtopiorangekiri {
    background-image: url(../images/OrangeKiri.gif);
}

.tdtopiorangekanan {
    background-image: url(../images/orangeKanan.gif);
}

.tdjudulhijau {
    background-color: #F4F4DF;
    font-weight: bold;
    font-size: 10px;
}

.tdtopihijau {
    background-color: #E0E0A3;
    font-weight: bold;
}

.tdtopihijaukiri {
    background-image: url(../images/HijauKiri.gif);
}

.tdtopihijaukanan {
    background-image: url(../images/HijauKanan.gif);
}

.tdjudulmerah {
    background-color: #FFF2F2;
    font-weight: bold;
    font-size: 10px;
}

.tdtopimerah {
    background-color: #FFDDDD;
    font-weight: bold;
}

.tdtopimerahkiri {
    background-image: url(../images/MerahKiri.gif);
}

.tdtopimerahkanan {
    background-image: url(../images/MerahKanan.gif);
}

.tdjudulbiru {
    /*    background-color: #E6F1FF; */
    background: #F0F0F0;
    color: #000;
    font-weight: bold;
    font-size: 10px;
}

.tdtopcenter {
    background: #000 url(../images/table/center.png) repeat-x center top;
    text-align: center;
    font-weight: bold;
}

.tdtopleft {
    background: transparent url(../images/table/topleft.png) no-repeat left top;
    width: 6px;
    height: 28px;
}

.tdtopright {
    background: #000 url(../images/table/center.png) repeat center top;
    width: 10px;
}

.tdganjil
    /* {background-color: #F4FAFF;} */
    /* {background-color: #FCFCFC; */
{
    background-color: #FAFAFA;
    border-bottom: 1px solid #A0A0A0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tdgenap {
    background-color: #FFFFFF;
    border-bottom: 1px solid #A0A0A0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tdhover
    /* {background-color: #FFF999;} */
{
    background-color: #DADADA;
}

.colKomitmen {
    color: #FF8000;
}
