body {
    margin: 10px 10px 40px 10px;
}

div#panel ul li {
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-left: 0px;
    padding-top: 5px;
}

a#controlbtn {
    color: #3278AC;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

div#panel {
    float: inherit;
    width: 25%;
    /*  margin-left: -5px; */
    margin-left: 0px;
    background-color: #FFFFFF;
    border: solid 1px #DDDDDD;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

div#map_canvas {
    width: 100%;
    height: 90%;
    position: relative;
    margin-left: 0px;
    text-align: center;
}