.login {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.login2 {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #FF0000;
}

.login3 {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0000FF;
}

.teksisi {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.teksbesar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}
