BODY {
    scrollbar-3dlight-color: #AAAAAA;
    scrollbar-arrow-color: #333333;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #AAAAAA;
    scrollbar-face-color: #EEEEEE;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    margin: 10px 0px 0px 0px;
}

SELECT {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    background-color: #FFFFFF;
    border-top-left-radius: 5px /*{cornerRadius}*/;
    border-bottom-left-radius: 5px /*{cornerRadius}*/;
    border-top-right-radius: 5px /*{cornerRadius}*/;
    border-bottom-right-radius: 5px /*{cornerRadius}*/;
}

INPUT {
    border-top-left-radius: 5px /*{cornerRadius}*/;
    border-bottom-left-radius: 5px /*{cornerRadius}*/;
    border-top-right-radius: 5px /*{cornerRadius}*/;
    border-bottom-right-radius: 5px /*{cornerRadius}*/;
}

TABLE {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: bold;
}

.Table {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    background-color: #F0F0F0;
    border: 0px;
}

#bar {
    width: 420px;
    border: 2px solid #959595;
    background-color: #FFFFFF;
    padding: 1px 1px 1px 1px;
}

#barII {
    width: 850px;
    border: 2px solid #959595;
    background-color: #FFFFFF;
    padding: 1px 1px 1px 1px;
}

.tableview {
    border: 0px;
    background-color: #E7E3E7;
}

.headercol {
    background: #A0A0A0;
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
}

.evalcol {
    background-color: #FFFFFF;
    border-bottom: 1px solid #A0A0A0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.oddcol {
    background-color: #FAFAFA;
    border-bottom: 1px solid #A0A0A0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.hovercol {
    background-color: #DADADA;
}

.errMsg {
    font-family: Verdana, Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
    background: #FFFFFF;
    text-align: center;
}

.Top-Table-Header {
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    line-height: 21px;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    /* 	border-bottom-left-radius: 4px{cornerRadius}; */
    border-top-right-radius: 10px /*{cornerRadius}*/;
    /* 	border-bottom-right-radius: 4px{cornerRadius}; */
}

.Top-Table-Header-Left {
    background: transparent url(../images/table/topleft.png) no-repeat left top;
    width: 6px;
    height: 28px;
}

.Top-Table-Header-Center {
    background: #000 url(../images/table/center.png) repeat-x center top;
    text-align: center;
}

.Top-Table-Header-Right {
    background: #000 url(../images/table/center.png) repeat center top;
    width: 10px;
}

.Edit-Left-Text {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background: #FAFAFA;
    color: #000000;
    text-align: left;
    width: 20%;
}

.Edit-Right-Text {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background: #FFF;
    color: #000000;
    text-align: left;
    width: 80%;
}

.Edit-Right-Text-II {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background: #FFF;
    color: #000000;
    text-align: left;
    width: 30%;
}

.TextBox {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
    border-top: 1px solid #555555;
}

.CheckBox {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    border: none;
}

.Text-LeftColumn {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #A0A0A0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.Text-LeftColumn-List {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background-color: #E8E8E8;
    color: #000000;
}

.Text-RightColumn {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFF;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.Text-RightColumn-List {
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    background-color: #FFF;
    color: #000000;
}

.Row-1 {
    background-color: #FFFFFF;
    font: 11px Verdana, Tahoma;
    color: #000000;
    border-left: 0px;
    border-right: 0px;
}

.Row-2 {
    background-color: #FAFAFA;
    font: 11px Verdana, Tahoma;
    color: #000000;
    border-left: 0px;
    border-right: 0px;
}

.Row-hover {
    background-color: #DADADA;
    font: 11px Verdana, Tahoma;
    color: #000000;
}

.Row-Navigation {
    background-color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
}

.TextBox-GoToPage {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    width: 30px;
}

.SmallTitle {
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    font-weight: normal;
}

/* Report */
.Report-TitleBar {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    font-weight: bold;
    background: #FFBD6C;
    color: #000000;
    line-height: 21px;
}

.Report-TitleBar-Left {
    background: #FFFFFF url(../images/subtitle_left_kuning.gif);
}

.Report-TitleBar-Right {
    background: #FFFFFF url(../images/subtitle_right_kuning.gif);
}

.Chart-TitleBar {
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    font-weight: bold;
    background: #FFBD6C;
    line-height: 21px;
}

.Chart-TitleBar-Left {
    background: #FFFFFF url(../images/subtitle_left_kuning.gif);
}

.Chart-TitleBar-Right {
    background: #FFFFFF url(../images/subtitle_right_kuning.gif);
}

/* ------------------------------ End of Chart */
/*Task MONITORING*/
.divShow {
    float: left;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}

.divShowBox {
    padding: 1px 1px 1px 1px;
    color: #000;
    border-bottom: #000 2px;
    border-left: #000 2px;
    border-top: #000 2px;
    border-right: #000 2px;
}

.divWhite {
    font-size: smaller;

}

.tdblock {
    background-color: #F0F0F0;
}

.divGreen {
    background-color: #22FF22;
}

.divPurple {
    background-color: #FF9FFC;
}

.divYellow {
    background-color: #FFFF22;
}

.divRed {
    background-color: #EE1111;
}