/* .divKotak */
/* { */
/* 	float: left; */
/* 	margin: 2px; */
/* 	padding: 5px; */
/* } */
/* .divKotakKecil */
/* { */
/* 	padding: 1px 1px 1px 1px; */
/* 	color: #000; */
/* 	border-bottom: #000 2px; */
/* 	border-left: #000 2px; */
/* 	border-top: #000 2px; */
/* 	border-right: #000 2px; */
/* } */

/* .divWhite */
/* {	 */
/* 	font-size: smaller;  */

/* } */
/* .tdblock{ */
/* 	background-color: #F0F0F0; */
/* } */

/* .divGreen */
/* {	 */
/* 	background-color: #22FF22; */
/* } */

/* .divPurple */
/* { */
/* 	background-color: #FF9FFC; */
/* } */

/* .divYellow */
/* { */
/* 	background-color: #FFFF22; */
/* } */

/* .divRed */
/* { */
/* 	background-color: #EE1111; */
/* } */