body {
    background-color: #FFF;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

.title {
    color: #000;
    font-family: verdana;
    font-size: 18;
    font-weight: bold
}

.subtitle {
    color: #ffffff;
    background-color: #fff;
    font-family: verdana;
    font-size: 11;
    font-style: normal;
    font-weight: bold
}

.field {
    font-family: verdana;
    font-size: xx-small;
}

.tbltitle {
    background-color: #6699cc;
    color: white;
    font-family: verdana;
    font-size: 11;
    font-weight: bold
}

.tblcontent {
    background-color: #99cccc;
    font-family: verdana;
    font-size: xx-small;
}

.frmtitle {
    font-family: verdana;
    font-size: 11;
}

.page {
    font-family: "times new roman", georgia, serif;
    font-size: x-small;
}

.isi {
    background-color: silver;
    color: blue;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 11
}

.fieldtext {
    background-color: silver;
    color: brown;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 11;
}

.menu {
    color: #003366;
    font-family: tahoma, verdana;
    font-size: 10;
}

.submenu {
    color: #003366;
    font-family: tahoma, verdana;
    font-size: 10;
}

.bgmenu {
    background-color: #99cccc
}

.message {
    color: red;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 11;
    font-weight: bold
}

.success {
    color: darkgreen;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 11;
    font-weight: bold
}

.bgform {
    color: silver;
    font-size: x-small;
}

.input {
    background-color: #fff0f5
}

.formid {
    color: silver;
    font-family: arial, 'courier new', verdana, tahoma;
    font-size: 9;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: underline
}

.menuattribute {
    background-color: #99cccc;
    color: brown;
    font-family: arial, verdana, 'ms sans serif';
    font-size: x-small;
}

.menuheader {
    color: yellow;
    font-family: arial, verdana, 'ms sans serif';
    font-size: x-small;
}

.greeting {
    color: darkblue;
    font-family: arial, verdana, 'ms sans serif';
    font-size: xx-small;
    font-weight: bold
}

hr {
    color: #009999;
}

input {
    color: darkblue;
    cursor: hand;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 10;
}

select {
    color: darkblue;
    cursor: hand;
    font-family: arial, verdana, 'ms sans serif';
    font-size: 11;
}

.tampung {
    /* 	background-color: #000; */
    background-color: #FFF;
}